.page1-bg{
    position: fixed;
    background-color: #17234e;
    inset: 0;
    z-index: -1;
}

/* ==== title ==== */
.title-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.title-wrapper h1 {
    padding: 15px 40px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);
    color: white;
    font-size: 42px;
    letter-spacing: 2px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

/* ==== Gallery ====*/
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 22px;
    margin-top: 2rem;
    
}

.gallery img {
    width: 100%;
    aspect-ratio: 4 / 5;   /* keeps them portrait */
    object-fit: cover;     /* crops nicely */
    border-radius: 18px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}


/* ==== Lightbox ==== */
.lightbox {
  position: fixed;  /* stays on screen even when scrolling */
  inset: 0;  /* top, right, bottom, left = 0 (fills screen) */
  background: rgba(0, 0, 0, 0.9);
  display: none; /* hidden by default */
  justify-content: center;
  align-items: center;
  z-index: 999; /* above everything else */
}

/* Fullscreen image */
.lightbox-img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 12px;
}

/* Close button */
.lightbox .close {
  position: absolute; /* positions in top-right corner */
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  color: white;
  cursor: pointer;
  user-select: none;
  padding: 10px;
}

.prev {left: 20px;}
.next {right: 20px;}

/* ==== Footer / back link ==== */
.content {
    text-align: right;
    margin-top: 3rem;
}

.content a {
    display: inline-block;
    padding: 10px 25px;
    border-radius: 30px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(8px);
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.content a:hover {
    background: rgba(255,255,255,0.2);
    transform: translateY(-3px);
}



.gallery figure {
    text-align: center;
}

.gallery figcaption {
    color: white;
    margin-top: 12px;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
}




/* ==== Mobile ==== */
@media (max-width: 600px) {  

  h1 {
    font-size: 26px;
    text-align: center;
  }

  .gallery {
        gap: 16px;
    }

    .nav {
        font-size: 36px;
    }

  .content {
    margin-left: 2rem;     /* remove desktop offset */
    margin-top: 10rem;
    padding: 1.2rem;   /* safe spacing for phone */
    max-width: 100%;
  }
  p {
    font-size: 18px;
  } 
}